.navbar-container {
    background: white;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 4px;
    position: fixed;
    z-index: 2;
}

.logo-container {
    padding: 0px 25px;
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 1.75em;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 25px;
    align-items: center;
    width: 550px;
}

.navbar-link {
    padding: 21px;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

.navbar-link:hover {
    background: rgb(0, 0, 0);
    color: white;
}

@media only screen and (max-width: 815px) {

    .links-container {
       width: fit-content;
        justify-content: space-between;
    }

    .logo-container {
        padding: 0px 15px;
        cursor: pointer;
    }

    .navbar-topic {
        display: none;
    }
}
