.settings-wrapper {
    margin-top: 100px;
    height: 750px;
    width: 500px;
}

.settings-item-container {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

