.button-container {
    width: 150px;
    height: 40px;
    font-size: 1em;
    border-radius: 5%;
    font-weight: bolder;
    cursor: pointer;
    border-radius: .75em;
    text-decoration: none;
}

.login-banner-button {
    width: 250px;
    height: 50px;
    font-size: 1.5em;
}

.settings-update-button {
    background: black;
    color: white;
    width: 180px;
    margin-top: 20px;
}

.login-button,
.login-banner-button {
    background:  rgb(0, 0, 0);
    color: white;
}

.login-button:hover,
.login-banner-button:hover,
.google-signin-button:hover,
.settings-update-button:hover {
    background: rgb(255, 255, 255);
    color: black;
}

.google-signin-button {
    background: rgba(0, 0, 255, 0.788);
    color: white;
}


