.password-wrapper {
    height: 300px;
    display: flex;
    justify-content: center;
}

.input-settings-form-password {
    width: 250px;
    height: 1.5em;
}

.text-status-display-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.submit-change-password {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -50px;
}